<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="134.255.234.181_Login_Connection" connectionString="XpoProvider=MSSqlServer;data source=134.255.234.181;user id=sa;password=]WAw[7Kv|iMmRq!f5f;initial catalog=Login;Persist Security Info=true"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
